@font-face {
	font-family: GillSans;
	src: url('../Fonts/GillSans.ttc');
}

body {
	font-family: GillSans;
}

.vfa-navbar {
	background-color: #04274f;
	margin-bottom: 0px;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom-color: #000;
	border-radius: 0px;
}

.vfa-navbar .navbar-collapse li a:hover {
	color: #fff;
}

.vfa-header {
	background: #04274f url('../img/header_background.png') repeat;
	margin: 0px;
}

.vfa-header h1 {
	color: #fff;
	font-weight: lighter;
}

.fellow-dash h2 {
	margin-bottom: 20px;
}

.red {
	color: #ec5a41;
}

.upcoming-events .row {
	font-size: 18px;
	padding-bottom: 5px;
}

.upcoming-events span {
	vertical-align: middle;
}

.upcoming-events .date {
	padding-left: 20px;
}

.relationships .row .col-md-4 {
	border:1px solid #000;
	border-radius: 5px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
}