@font-face {
	font-family: GillSans;
	src: url('../Fonts/GillSans.ttc');
}

@media (min-width: 992px){ /*Laptop and Desktop*/
    #login {
        margin-top: 100px;
    }
}

@media (min-width: 480px){ /*Phone*/
    #login {
        margin-top: 100px;
    }
}

body {
	font-family: GillSans;
}

p {
	font-size: 18px;
}

.secondary {
	background-color: #eef3f7;
}

.red {
	color: #ec5a41;
}

.vfa-navbar {
	background-color: #04274f;
	margin-bottom: 0px;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom-color: #000;
	border-radius: 0px;
}

.vfa-navbar .navbar-collapse li a:hover {
	color: #fff;
}

.vfa-header {
	color: #04274f;
	background-color: #eef3f7;
	margin: 0px;
}

.vfa-header h1 {
	font-weight: bold;
}

.fellow-dash h2 {
	margin-bottom: 20px;
}

.upcoming-events .row {
	font-size: 18px;
	padding-bottom: 5px;
}

.upcoming-events span {
	vertical-align: middle;
}

.relationships .row .col-md-4 {
	/*border:1px solid #000;*/
	border-radius: 5px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
}

.placementStatus-pie-chart {
	text-align: center;
}

.placementStatus-header {
	text-align: center;
}

.vfa-navbar ul.nav li a {
	color: #eef3f7 !important;
	letter-spacing: 1px;
	height: 52px;
	margin: 2px;
	padding: 15px 15px;
	/*border-radius: 5px;*/
	transition: 0.3s;
	-webkit-transition: 0.3s; /* Safari */
} .vfa-navbar ul.nav li a:hover {
	background-color: rgba(236, 90, 65, .5) !important;
	padding: 15px 45px;
	/*font-size: 14pt;*/
} .vfa-navbar ul.nav li a i {
	transition: 0.3s;
	-webkit-transition: 0.3s; /* Safari */
} .vfa-navbar ul.nav li a:hover  i {
	font-size: 16pt;
}

.navbar-toggle.collapsed {
	background-color: #04274f !important;
} .navbar-toggle:hover {
	background-color: #eef3f7 !important;
}

.navbar-form {
	margin: 0px;
}
